@import '../../mixins';

.issue-list {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 3px;
    background: var(--color-surface-accent);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: var(--cyan-a5);
  }

  &__container {
    margin-bottom: 58px;
  }

  &__skeleton {
    height: calc(100vh - 186px);
  }

  &__initial {
    min-height: 1000px;
    border-radius: var(--radius-2);
    box-shadow: inset 0 0 0 1px var(--gray-a7);
    background: url('../../assets/stripes-bg.svg');
  }

  @include sm {
    height: 1000px;

    &__container {
      margin-bottom: 0;
    }

    &__skeleton {
      height: 1000px;
    }
  }
}
